@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Fonts */
@import "@fontsource-variable/noto-sans";
@import "@bcgov/bc-sans/css/BC_Sans.css";

/* Project styles */
@import "./styles/tokens.css";
@import "./styles/theme.css";
@import "./styles/base.css";

/* One-off custom overrides */
@import "./styles/custom.css";

/* BC Gov Design Tokens (prefixed to avoid collisions) */
@import "@bcgov/design-tokens/css-prefixed/variables.css";

/* Tell Tailwind to scan the UI package for classes */
@source "../../../packages/ui/src/";

@theme {
  --breakpoint-md: 36rem; /* 576px */
  --breakpoint-lg: 62rem; /* 992px */
  --breakpoint-xl: 75rem; /* 1200px */
}
